.window {
  position: absolute;
  z-index: 10;
}

.windowTop {
  display: grid;
  grid-template-columns: 120px 1fr 120px;

  height: 30px;

  cursor: grab;

  border-bottom: 2px solid #353535;
  background-color: var(--windowTopBackground);
}

.windowBody {
  position: relative;

  background-color: var(--windowBodyBackground);
  outline: none;
}

.notActiveWindow {
  filter: brightness(0.6);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;

  background: transparent;
  border: none;
  border-radius: 1px;
}

.title {
  text-align: center;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;

  font-size: 1rem;
}

.closeBtn:hover {
  background-color: #f00;
}

.closeBtn:active {
  background-color: #c12a2a;
}

.buttonsContainer {
  display: flex;
  grid-column: 3;
  justify-content: flex-end;
  overflow: hidden;
}

.collapseBtn:hover {
  background-color: #474747;
}

.grabbed {
  cursor: grabbing;
}

.inactive {
  background-color: var(--windowTopBackgroundInactive);
  filter: grayscale(0.5) brightness(0.7);
}
