@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: inherit;

  font-family: inherit;
}

:root {
  --topBarHeight: 30px;
  --bottomPartHeight: 40px;
  --boxShadow6: 6px 3px 6px #000;

  font-size: 14px;
}

html2canvas-container,
iframe[src*="html2canvas"] {
  pointer-events: none !important;
  cursor: inherit !important;
  z-index: -999999 !important;
}

.darkTheme {
  /* Global */
  --layoutBackgroundColor: #131313;
  --fontColor: #ececec;
  --secondaryColor: #282828;

  /* Window */
  --windowTopBackground: rgb(23 23 24 / 0.97);
  --windowTopBackgroundInactive: #2c2c2e;
  --windowBodyBackground: rgb(23 23 24);

  /* Calculator */
  --calculatorBackground: rgb(31 31 31);
  --calculatorInputBorder: #515151;

  /* BottomTab */
  --bottomTabBorder: #c1c3c1;
  --activeBottomTab: #272827;
  --closedBottomTab: #2d2d2d;
  --onHoverBottomTab: #717272;
  --onActiveBottomTab: #272827;
  --bottomTabBackground: transparent;
  --bottomTabSecondaryBackground: rgba(25, 25, 25, 0.97);

  /* Avatar */
  --avatarBackgroundColor: #696969;

  color: #ececec;
}

.lightTheme {
  /* Global */
  --layoutBackgroundColor: #ececec;
  --fontColor: #373737;
  --buttonColor: #b5b5b5;
  --secondaryColor: #c4c4c4;

  /* Window */
  --windowTopBackground: rgb(255 255 255 / 0.97);
  --windowBodyBackground: rgb(210 210 210);
  --windowTopBackgroundInactive: #d6d6d6;

  /* Calculator */
  --calculatorBackground: rgb(193 193 193);
  --calculatorInputBorder: #000;

  /* BottomTab */
  --bottomTabBorder: #1e6cc1;
  --activeBottomTab: #a1a6d9;
  --closedBottomTab: #353535;
  --onHoverBottomTab: #9d9d9d;
  --onActiveBottomTab: #c6c6c6;

  /* Avatar */
  --avatarBackgroundColor: #cdacac;

  color: #373737;
}

.blueTheme {
  /* Global */
  --layoutBackgroundColor: #3a59a5;
  --fontColor: #f0f4f8;
  --secondaryColor: #2b4d83;

  /* Window */
  --windowTopBackground: rgba(66, 123, 198, 0.97); /* Активное окно */
  --windowTopBackgroundInactive: rgba(54, 94, 158, 0.6); /* Неактивное */
  --windowBodyBackground: #174f8e;

  /* Calculator */
  --calculatorBackground: #2363a4;
  --calculatorInputBorder: #031a46;

  /* BottomTab */
  --bottomTabBorder: #b8b8b8;
  --activeBottomTab: #0a2b7d;
  --closedBottomTab: #2f2f2f;
  --onHoverBottomTab: #0e3ea5;
  --onActiveBottomTab: #0a2b7d;
  --bottomTabBackground: transparent;

  /* Avatar */
  --avatarBackgroundColor: #0c2e60;

  color: #f0f4f8;
}

.greenTheme {
  /* Global */
  --layoutBackgroundColor: #3d934d;
  --fontColor: #effff0;
  --secondaryColor: #2c7c2a;

  /* Window */
  --windowTopBackground: rgba(28, 154, 53, 0.97);
  --windowTopBackgroundInactive: rgba(22, 107, 38, 0.6);
  --windowBodyBackground: #2e9443;

  /* Calculator */
  --calculatorBackground: #1b6320;
  --calculatorInputBorder: #013e02;

  /* BottomTab */
  --bottomTabBorder: #a9c1ab;
  --activeBottomTab: #036319;
  --closedBottomTab: #4e4e4e;
  --onHoverBottomTab: #1faa4b;
  --onActiveBottomTab: #c4d4c4;
  --bottomTabBackground: #0b7317;

  /* Avatar */
  --avatarBackgroundColor: #1e5f29;

  color: #effff0;
}

body {
  overflow: hidden;

  margin: 0;

  color: var(--font-color);

  font-family: Nunito, source-code-pro, Menlo, Monaco, Consolas, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
}
